@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-rounded/css/uicons-bold-rounded.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #888 black;
  }
  html {
    font-size: 16px;
    font-family: 'Arial', 'Helvetica', sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    background-color: black;
    color: white;
    height: 100%;
    overflow-x: hidden;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  img, video {
    max-width: 100%;
    height: auto;
    display: block;
  }
  button, a {
    cursor: pointer;
  }
  